{% extends "layout.html" %}
{% block content %}

<div class="container bg-dark m-auto">
	<div class="row py-xl-5  w-auto p-3">
		<div class="col-sm-3 justify-content-center">
			<img src="/static/assets/garg_bharat.jpeg" class="rounded mx-auto d-block" alt="Dr. Bharat Garg">
		</div>
		<div class="col-sm text-wrap" style="text-align: start;">
			<h5 class="text-primary">Current Position</h5>
			Assistant Professor, Electronics and Communication Engineering Department, Thapar Institute of Engineering and
			Technology, Patiala
			<br>
			<span class="text-secondary">
				Address:
			</span>
			C-329, Academic Block-C, Thapar Institute of Engineering and Technology, Patiala
			<br>
			<span class="text-secondary">
				Email:
			</span>
			bharat.garg@thapar.edu, bgarg.iiitm@gmail.com
			<br>
			<span class="text-secondary">
				Contact:
			</span>
			+91-7974-677-918, +91-9407-363-919
			<hr style="color: white;">
			<h5 class="text-primary">Education</h5>
			Ph.D. from ABV-Indian Institute of Information Technology and Management Gwalior
			<br>
			M.Tech (VLSI Design) from ABV-Indian Institute of Information Technology and Management Gwalior
			<br>
			B.E. (Electronics) from Rajiv Gandhi Technical University Bhopal
			<hr style="color: white;">
			<h5 class="text-primary">Past Experience (Academic)</h5>
			Assistant Professor, Thapar Institute of Engineering and Technology, Patiala (March 2018 - till date)
			<br>
			Lecturer, Thapar Institute of Engineering and Technology, Patiala (July 2017 – March 2018)
			<br>
			Assistant Professor, Sri Ram College of Engineering and Management, Banmore (July 2011-July 2012)
			<br>
			Assistant Professor, Maharana Pratap College of Technology, Gwalior (Feb 2010, July 2011)
			<br>
			Lecturer, Maharana Pratap College of Technology, Gwalior (June 2003 – June 2005)
			<br>
			Lecturer, Institute of Engineering, Jiwaji University, Gwalior (Jan 2003 – June 2003)
			<hr style="color: white;">
			<h5 class="text-primary">Past Experience (Industry)</h5>
			SOC Engineer, Incube Solutions India Pvt. Ltd. Hyderabad (July 2009 - Jan 2010)
			<br>
			ASIC Engineer, Cypress Semiconductors (I) Pvt. Ltd. Hyderabad (July 2007 – March 2009)
			<br>
			Engineer Trainee, Cypress Semiconductors (I) Pvt. Ltd. Hyderabad (Jan 2007 – July 2007)
			<hr style="color: white;">
			<h5 class="text-primary">Administrative Experience </h5>
			PG Coordinator, Thapar Institute of Engineering and Technology, Patiala (July 2020 – till date)
			<br>
			Lab In-charge, Capstone Lab, Thapar Institute of Engineering and Technology, Patiala (July 2019 – till date)
		</div>
	</div>
</div>

{% endblock content %}